<ng-wizard [config]="config" (stepChanged)="stepChanged($event)" >
  

  <ng-wizard-step *ngFor="let wizard of wizards" [title]="wizard.title"
    [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
    
    <app-wizard-details [items]="wizard.items"></app-wizard-details>
  </ng-wizard-step>


<div class="form-group">
    <div class="btn-toolbar ng-wizard-toolbar ng-wizard-toolbar-top justify-content-start">
      <div class="btn-group mr-2 ng-wizard-btn-group">
        <button type="button" (click)="showPreviousStep($event)" class="btn btn-secondary ng-wizard-btn-prev">
          Previous
        </button>
        <button type="button" (click)="showNextStep($event)" class="btn btn-secondary ng-wizard-btn-next">
          Next
        </button>
        <button type="button" (click)="resetWizard($event)" class="btn btn-danger">Reset</button>
        <select [(ngModel)]="selectedTheme" (change)="themeSelected()">
          <option *ngFor="let theme of themes" [ngValue]="theme">{{ theme }}</option>
        </select>
        <!-- <select [(ngModel)]="selectedStepIndex" (change)="stepIndexSelected()">
          <option *ngFor="let stepIndex of stepIndexes" [ngValue]="stepIndex">{{ 'Step - ' + (stepIndex + 1) }}</option>
        </select> -->
      </div>
    </div>
  </div>
  
  <!-- <ng-wizard-step [title]="'Step 2'" [description]="'Step 2 description'" [state]="stepStates.disabled">
    <span>Step 2 content</span>
  </ng-wizard-step>
  
  <ng-wizard-step [title]="'Step 3'" [description]="'Step 3 description'"
    [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
    <span>Step 3 content</span>
  </ng-wizard-step>
  -->
</ng-wizard>